<ion-view>
    <ion-content class="has-header">
        <ion-refresher pulling-text="Pull to refresh"></ion-refresher>
        <ion-list>
            <div class="list card">
                <div class="item item-avatar-right">
                    <img src="img/ionic.png" />
                    <h2>Some title</h2>
                    <p>The rest of the para</p>
                    <p>Second para</p>
                </div>
                <div class="item item-body">
                    <p>This is the full text for the body part</p>
                    <p>Second para</p>
                    <img src="img/ionic.png" class="full-image" />
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>