ion-view(view-title='Dustbin App')
  //
    button.button.button-royal.button-fab.button-fab-bottom-right
      i.icon.ion-funnel
  ion-content.has-header

    ion-list(type='card')
      label.item.item-input
        i.icon.ion-search.placeholder-icon
        input(type='text' placeholder='Search')

    ion-slide-box(show-pager='false')
      ion-slide
        .list.card.royal-100-bg
          .item.item-text-wrap
            | blah blah blah
      ion-slide
        h1.title Wow
