doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    meta(http-equiv='Content-Security-Policy' content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://localhost:35729")
    title Dustbin App

    each file in ['ionic.app', 'style']
      link(href='css/'+file+'.css' rel='stylesheet')

    // Ionic/Angular
    script(src='lib/ionic/js/ionic.bundle.js')

    // cordova js, 404 during Dev
    script(src='lib/ngCordova/dist/ng-cordova.min.js')
    script(src='cordova.js')

    // Additional Libraries
    script(src='lib/underscore/underscore-min.js')
    script(src='lib/moment/min/moment.min.js')

    // Main app js here
    each file in ['app', 'constants']
      script(src='js/'+file+'.js')

  body(ng-app='manoj')

    //
      ion-pane
        ion-header-bar.bar-positive
          h1.title Dustbin App

        ion-nav-view
    ion-side-menus

      ion-side-menu(side='left')
        ng-include(src='"templates/side.html"')

      //
        Notes: We need to use ion-nav-header and all of that
      ion-side-menu-content
        ion-header-bar.bar-positive
          .primary-buttons
            button.button.button-clear.icon.ion-navicon(menu-toggle)
          h1.title Dustbin App
        ion-nav-view              // Main ion-nav-view
